layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }

    tab name="dev" focus=true {
        pane split_direction="vertical" {
            pane size="62%" name="nvim" focus=true
            pane size="38%" name="claude"
        }
    }

    tab name="servers" {
        pane split_direction="vertical" {
            pane size="60%" name="dev server"
            pane size="40%" name="logs"
        }
    }
}
