[SddmGreeterTheme]
Name=Neutral Login
Description=Neutral login theme for Hyprland
Type=sddm-theme
Author=jesus-molano
License=MIT
Version=1.1
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=project-atlas
Theme-API=2.0
QtVersion=6
