[Unit]
Description=Disco NTFS interno para backups Restic
Documentation=man:systemd.mount(5)

[Mount]
What=/dev/disk/by-uuid/@MNT_BACKUPS_UUID@
Where=/mnt/backups
Type=ntfs3
Options=rw,nosuid,nodev,noexec,noatime,uid=@MNT_BACKUPS_UID@,gid=@MNT_BACKUPS_GID@,umask=0077,prealloc
TimeoutSec=90
